<a href="https://colab.research.google.com/github/gayatripendhari/DataScience_Training/blob/main/Day02_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

In [ ]:
upload = files.upload()

Saving MallCustomer.csv to MallCustomer (2).csv

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("MallCustomer.csv")

In [ ]:
df1

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df1.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
df1.head(10)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

In [ ]:
df1.shape

(200, 5)

In [ ]:
df1.columns

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [ ]:
df1['CustomerID']

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Name: CustomerID, Length: 200, dtype: int64

In [ ]:
df1['Genre']

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Genre, Length: 200, dtype: object

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [ ]:
df1.isna().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
type(df1['Genre'])

pandas.core.series.Series

In [ ]:
df1.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [ ]:
df1['Genre'].value_counts()

Female    112
Male       88
Name: Genre, dtype: int64

In [ ]:
df1.iloc[0]

CustomerID                   1
Genre                     Male
Age                         19
Annual Income (k$)          15
Spending Score (1-100)      39
Name: 0, dtype: object

In [ ]:
df1.iloc[0:11,0:2]

    CustomerID   Genre
0            1    Male
1            2    Male
2            3  Female
3            4  Female
4            5  Female
5            6  Female
6            7  Female
7            8  Female
8            9    Male
9           10  Female
10          11    Male

In [ ]:
df1.loc[0:11,['CustomerID','Genre']]

    CustomerID   Genre
0            1    Male
1            2    Male
2            3  Female
3            4  Female
4            5  Female
5            6  Female
6            7  Female
7            8  Female
8            9    Male
9           10  Female
10          11    Male
11          12  Female

In [ ]:
df1.loc[0:5,'Genre':'Annual Income (k$)']

    Genre  Age  Annual Income (k$)
0    Male   19                  15
1    Male   21                  15
2  Female   20                  16
3  Female   23                  16
4  Female   31                  17
5  Female   22                  17

In [ ]:
people={
    "first":["aryan","uday","divij"],
    "last":["sonawane","talele","kulkarni"],
    "email":["aryans.nsk@gmail.com","ut@gmail.com","macenth@gmail.com"]
}

In [ ]:
people["email"]

['aryans.nsk@gmail.com', 'ut@gmail.com', 'macenth@gmail.com']

In [ ]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [ ]:
df.set_index('email',inplace=True)  #used to set an index, returns in bold, inplace is immutble
df

                      first      last
email
aryans.nsk@gmail.com  aryan  sonawane
ut@gmail.com           uday    talele
macenth@gmail.com     divij  kulkarni

In [ ]:
df.index

Index(['aryans.nsk@gmail.com', 'ut@gmail.com', 'macenth@gmail.com'], dtype='object', name='email')

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.sort_index(ascending=False)

                  email  first      last
2     macenth@gmail.com  divij  kulkarni
1          ut@gmail.com   uday    talele
0  aryans.nsk@gmail.com  aryan  sonawane

In [ ]:
df.drop('email',axis=1,inplace=True)

In [ ]:
df

   first      last
0  aryan  sonawane
1   uday    talele
2  divij  kulkarni

In [ ]:
df.drop(2,axis=0,inplace=True)

In [ ]:
df

   first      last
0  aryan  sonawane
1   uday    talele

In [ ]:
df2={'email':['ratspawar@gmail.com','dips@gmail.com','tans@gmail.com'],
     'first':['ratnali','deepali','tanmayi'],
     'last':['pawar','khajure','shete']}

In [ ]:
pd.DataFrame(df2)

                 email    first     last
0  ratspawar@gmail.com  ratnali    pawar
1       dips@gmail.com  deepali  khajure
2       tans@gmail.com  tanmayi    shete

In [ ]:
df2

{'email': ['ratspawar@gmail.com', 'dips@gmail.com', 'tans@gmail.com'],
 'first': ['ratnali', 'deepali', 'tanmayi'],
 'last': ['pawar', 'khajure', 'shete']}

In [ ]:
df2=pd.DataFrame(df2)
df2

                 email    first     last
0  ratspawar@gmail.com  ratnali    pawar
1       dips@gmail.com  deepali  khajure
2       tans@gmail.com  tanmayi    shete

In [ ]:
df=df.append(df2,ignore_index=True)
df

<ipython-input-75-cfb9280262ee>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df2,ignore_index=True)

      first      last                email
0     aryan  sonawane                  NaN
1      uday    talele                  NaN
2   deepali   khajure                  NaN
3   tanmayi     shete                  NaN
4   ratnali     pawar                  NaN
5   deepali   khajure                  NaN
6   tanmayi     shete                  NaN
7   ratnali     pawar                  NaN
8   deepali   khajure                  NaN
9   tanmayi     shete                  NaN
10  ratnali     pawar  ratspawar@gmail.com
11  deepali   khajure       dips@gmail.com
12  tanmayi     shete       tans@gmail.com

In [ ]:
filt=df['last']=='shete'

In [ ]:
#df[filt]

      first   last           email
3   tanmayi  shete             NaN
6   tanmayi  shete             NaN
9   tanmayi  shete             NaN
12  tanmayi  shete  tans@gmail.com

In [ ]:
filt=df['first']=='sonawane'

In [ ]:
df[filt]

       first      last                email
0   sonawane  sonawane                  NaN
1   sonawane    talele                  NaN
2   sonawane   khajure                  NaN
3   sonawane     shete                  NaN
4   sonawane     pawar                  NaN
5   sonawane   khajure                  NaN
6   sonawane     shete                  NaN
7   sonawane     pawar                  NaN
8   sonawane   khajure                  NaN
9   sonawane     shete                  NaN
10  sonawane     pawar  ratspawar@gmail.com
11  sonawane   khajure       dips@gmail.com
12  sonawane     shete       tans@gmail.com

In [ ]:
filt=df1['Genre']=='Female'

In [ ]:
df1[filt]

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
5             6  Female   22                  17                      76
6             7  Female   35                  18                       6
..          ...     ...  ...                 ...                     ...
191         192  Female   32                 103                      69
193         194  Female   38                 113                      91
194         195  Female   47                 120                      16
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28

[112 rows x 5 columns]

In [ ]:
filt=df

In [ ]:
flit2 = (df1['Genre']=='Female') & (df1['Spending Score (1-100)']>=75)

In [ ]:
df1[flit2]

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
3             4  Female   23                  16                      77
5             6  Female   22                  17                      76
7             8  Female   23                  18                      94
11           12  Female   35                  19                      99
13           14  Female   24                  20                      77
19           20  Female   35                  23                      98
29           30  Female   23                  29                      87
35           36  Female   21                  33                      81
39           40  Female   20                  37                      75
125         126  Female   31                  70                      77
135         136  Female   29                  73                      88
143         144  Female   32                  76                      87
153         154  Female   38                  78                      76
155         156  Female   27                  78                      89
157         158  Female   30                  78                      78
161         162  Female   29                  79                      83
163         164  Female   31                  81                      93
165         166  Female   36                  85                      75
167         168  Female   33                  86                      95
175         176  Female   30                  88                      86
181         182  Female   32                  97                      86
183         184  Female   29                  98                      88
189         190  Female   36                 103                      85
193         194  Female   38                 113                      91
195         196  Female   35                 120                      79

In [ ]:
len(flit2)

200

In [ ]:
flit2.value_counts()

False    175
True      25
dtype: int64

In [ ]:
f = (df1['Age']>=30) & (df1['Spending Score (1-100)']>=75)

In [ ]:
f

0      False
1      False
2      False
3      False
4      False
       ...
195     True
196    False
197    False
198    False
199     True
Length: 200, dtype: bool

In [ ]:
len(df1[f])

25

In [ ]:
rich=(df1['Age']>=39) & (df1['Spending Score (1-100)']>=75)

In [ ]:
df1[rich].count()

CustomerID                4
Genre                     4
Age                       4
Annual Income (k$)        4
Spending Score (1-100)    4
dtype: int64

In [ ]:
df1[rich]

     CustomerID Genre  Age  Annual Income (k$)  Spending Score (1-100)
123         124  Male   39                  69                      91
127         128  Male   40                  71                      95
131         132  Male   39                  71                      75
151         152  Male   39                  78                      88

In [ ]:
from google.colab import files

In [ ]:
upload = files.upload()

Saving imdb_top.csv to imdb_top.csv

In [ ]:
df4=pd.read_csv("imdb_top.csv")

In [ ]:
df4

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [ ]:
df4.shape

(1000, 16)

In [ ]:
df4.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
df4.tail()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [ ]:
df4.isna()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True
999,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True

In [ ]:
df4.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [ ]:
df4.dropna(inplace=True)

In [ ]:
df4

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,https://m.media-amazon.com/images/M/MV5BYjRmY2...,GiÃ¹ la testa,1971,PG,157 min,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,"696,690"
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435"
992,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612"
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"

In [ ]:
df4['Genre'].value_counts()

Drama                         58
Drama, Romance                26
Comedy, Drama                 24
Crime, Drama, Thriller        22
Action, Adventure, Sci-Fi     21
                              ..
Crime, Film-Noir, Thriller     1
Drama, Film-Noir, Romance      1
Drama, History, Romance        1
Adventure, Horror, Sci-Fi      1
Comedy, Music, Musical         1
Name: Genre, Length: 172, dtype: int64

In [ ]:
df4['Genre'].value_counts().head(10)

Drama                           58
Drama, Romance                  26
Comedy, Drama                   24
Crime, Drama, Thriller          22
Action, Adventure, Sci-Fi       21
Animation, Adventure, Comedy    20
Biography, Drama, History       20
Crime, Drama                    19
Comedy, Drama, Romance          19
Action, Crime, Drama            18
Name: Genre, dtype: int64

In [ ]:
df4['Certificate'].value_counts()

U           183
A           174
UA          142
R           131
PG-13        38
PG           19
G             9
Passed        9
Approved      6
TV-PG         1
U/A           1
GP            1
Name: Certificate, dtype: int64

In [ ]:
df4.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count   714.000000  714.000000  7.140000e+02
mean      7.937115   77.158263  3.561348e+05
std       0.293278   12.401144  3.539011e+05
min       7.600000   28.000000  2.522900e+04
25%       7.700000   70.000000  9.600975e+04
50%       7.900000   78.000000  2.366025e+05
75%       8.100000   86.000000  5.077922e+05
max       9.300000  100.000000  2.343110e+06

In [ ]:
filt4=df4['Genre'].str.contains('Romance',na=False)

filt4.value_counts()

In [ ]:
filt4.value_counts()

False    626
True      88
Name: Genre, dtype: int64

In [ ]:
df4.loc[filt4]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
11,https://m.media-amazon.com/images/M/MV5BNWIwOD...,Forrest Gump,1994,UA,142 min,"Drama, Romance",8.8,"The presidencies of Kennedy and Johnson, the e...",82.0,Robert Zemeckis,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,1809221,"330,252,182"
26,https://m.media-amazon.com/images/M/MV5BYmJmM2...,La vita Ã¨ bella,1997,U,116 min,"Comedy, Drama, Romance",8.6,When an open-minded Jewish librarian and his s...,59.0,Roberto Benigni,Roberto Benigni,Nicoletta Braschi,Giorgio Cantarini,Giustino Durano,623629,"57,598,247"
45,https://m.media-amazon.com/images/M/MV5BM2FhYj...,Nuovo Cinema Paradiso,1988,U,155 min,"Drama, Romance",8.5,A filmmaker recalls his childhood when falling...,80.0,Giuseppe Tornatore,Philippe Noiret,Enzo Cannavale,Antonella Attili,Isa Danieli,230763,"11,990,401"
50,https://m.media-amazon.com/images/M/MV5BY2IzZG...,Casablanca,1942,U,102 min,"Drama, Romance, War",8.5,A cynical expatriate American cafe owner strug...,100.0,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains,522093,"1,024,560"
52,https://m.media-amazon.com/images/M/MV5BY2I4Mm...,City Lights,1931,G,87 min,"Comedy, Drama, Romance",8.5,"With the aid of a wealthy erratic tippler, a d...",99.0,Charles Chaplin,Charles Chaplin,Virginia Cherrill,Florence Lee,Harry Myers,167839,"19,181"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,https://m.media-amazon.com/images/M/MV5BNmRiZD...,The Bridges of Madison County,1995,A,135 min,"Drama, Romance",7.6,Photographer Robert Kincaid wanders into the l...,69.0,Clint Eastwood,Clint Eastwood,Meryl Streep,Annie Corley,Victor Slezak,73172,"71,516,617"
967,https://m.media-amazon.com/images/M/MV5BNTliYT...,Trois couleurs: Blanc,1994,U,92 min,"Comedy, Drama, Romance",7.6,"After his wife divorces him, a Polish immigran...",88.0,Krzysztof Kieslowski,Zbigniew Zamachowski,Julie Delpy,Janusz Gajos,Jerzy Stuhr,64390,"1,464,625"
971,https://m.media-amazon.com/images/M/MV5BMTY5Nj...,Omohide poro poro,1991,U,118 min,"Animation, Drama, Romance",7.6,A twenty-seven-year-old office worker travels ...,90.0,Isao Takahata,Miki Imai,ToshirÃ´ Yanagiba,Yoko Honna,Mayumi Izuka,27071,"453,243"
975,https://m.media-amazon.com/images/M/MV5BMjE0OD...,When Harry Met Sally...,1989,UA,95 min,"Comedy, Drama, Romance",7.6,Harry and Sally have known each other for year...,76.0,Rob Reiner,Billy Crystal,Meg Ryan,Carrie Fisher,Bruno Kirby,195663,"92,823,600"
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"

In [ ]:
df4['Runtime']

0      [142]
1      [175]
2      [152]
3      [202]
4       [96]
       ...
990    [157]
991    [144]
992     [78]
994     [87]
997    [118]
Name: Runtime, Length: 714, dtype: object

In [ ]:
df4['Runtime']=df4['Runtime'].apply(lambda x: x.split(" "))

AttributeError: ignored

In [ ]:
df4.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,"[142, min]",Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,"[175, min]","Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,"[152, min]","Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,"[202, min]","Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,"[96, min]","Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
df4['Runtime']=df4['Runtime'].apply(lambda x: x[0])

In [ ]:
df4.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    714 non-null    object
 1   Series_Title   714 non-null    object
 2   Released_Year  714 non-null    object
 3   Certificate    714 non-null    object
 4   Runtime        714 non-null    object
 5   Genre          714 non-null    object
 6   IMDB_Rating    714 non-null    float64
 7   Overview       714 non-null    object
 8   Meta_score     714 non-null    float64
 9   Director       714 non-null    object
 10  Star1          714 non-null    object
 11  Star2          714 non-null    object
 12  Star3          714 non-null    object
 13  Star4          714 non-null    object
 14  No_of_Votes    714 non-null    int64
 15  Gross          714 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 111.0+ KB

In [ ]:
df4['Runtime']=df4['Runtime'].astype('int64')

In [ ]:
df4.describe()

          Runtime  IMDB_Rating  Meta_score   No_of_Votes
count  714.000000   714.000000  714.000000  7.140000e+02
mean   123.715686     7.937115   77.158263  3.561348e+05
std     25.887535     0.293278   12.401144  3.539011e+05
min     72.000000     7.600000   28.000000  2.522900e+04
25%    104.250000     7.700000   70.000000  9.600975e+04
50%    120.000000     7.900000   78.000000  2.366025e+05
75%    136.000000     8.100000   86.000000  5.077922e+05
max    238.000000     9.300000  100.000000  2.343110e+06

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    714 non-null    object
 1   Series_Title   714 non-null    object
 2   Released_Year  714 non-null    object
 3   Certificate    714 non-null    object
 4   Runtime        714 non-null    int64
 5   Genre          714 non-null    object
 6   IMDB_Rating    714 non-null    float64
 7   Overview       714 non-null    object
 8   Meta_score     714 non-null    float64
 9   Director       714 non-null    object
 10  Star1          714 non-null    object
 11  Star2          714 non-null    object
 12  Star3          714 non-null    object
 13  Star4          714 non-null    object
 14  No_of_Votes    714 non-null    int64
 15  Gross          714 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 111.0+ KB

In [ ]:
filt5=(df4['Runtime']>=180) & (df4['IMDB_Rating']>=8)

In [ ]:
df4[filt5]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
25,https://m.media-amazon.com/images/M/MV5BMTUxMz...,The Green Mile,1999,A,189,"Crime, Drama, Fantasy",8.6,The lives of guards on Death Row are affected ...,61.0,Frank Darabont,Tom Hanks,Michael Clarke Duncan,David Morse,Bonnie Hunt,1147794,"136,801,374"
31,https://m.media-amazon.com/images/M/MV5BOWE4ZD...,Shichinin no samurai,1954,U,207,"Action, Adventure, Drama",8.6,A poor village under attack by bandits recruit...,98.0,Akira Kurosawa,ToshirÃ´ Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,315744,"269,061"
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019,UA,181,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,"858,373,000"
116,https://m.media-amazon.com/images/M/MV5BYWY5Zj...,Lawrence of Arabia,1962,U,228,"Adventure, Biography, Drama",8.3,"The story of T.E. Lawrence, the English office...",100.0,David Lean,Peter O'Toole,Alec Guinness,Anthony Quinn,Jack Hawkins,268085,"44,824,144"
147,https://m.media-amazon.com/images/M/MV5BMjIxMj...,The Wolf of Wall Street,2013,A,180,"Biography, Crime, Drama",8.2,"Based on the true story of Jordan Belfort, fro...",75.0,Martin Scorsese,Leonardo DiCaprio,Jonah Hill,Margot Robbie,Matthew McConaughey,1187498,"116,900,694"
247,https://m.media-amazon.com/images/M/MV5BNDYxNW...,Lagaan: Once Upon a Time in India,2001,U,224,"Adventure, Drama, Musical",8.1,The people of a small village in Victorian Ind...,84.0,Ashutosh Gowariker,Aamir Khan,Raghuvir Yadav,Gracy Singh,Rachel Shelley,105036,"70,147"
274,https://m.media-amazon.com/images/M/MV5BZmQzMD...,Fanny och Alexander,1982,A,188,Drama,8.1,Two young Swedish children experience the many...,100.0,Ingmar Bergman,Bertil Guve,Pernilla Allwin,Kristina Adolphson,BÃ¶rje Ahlstedt,57784,"4,971,340"
278,https://m.media-amazon.com/images/M/MV5BNDhmNT...,The Deer Hunter,1978,A,183,"Drama, War",8.1,An in-depth examination of the ways in which t...,86.0,Michael Cimino,Robert De Niro,Christopher Walken,John Cazale,John Savage,311361,"48,979,328"
300,https://m.media-amazon.com/images/M/MV5BNjgxY2...,Ben-Hur,1959,U,212,"Adventure, Drama, History",8.1,After a Jewish prince is betrayed and sent int...,90.0,William Wyler,Charlton Heston,Jack Hawkins,Stephen Boyd,Haya Harareet,219466,"74,700,000"
314,https://m.media-amazon.com/images/M/MV5BYjUyZW...,Gone with the Wind,1939,U,238,"Drama, History, Romance",8.1,A manipulative woman and a roguish man conduct...,97.0,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,290074,"198,676,459"
374,https://m.media-amazon.com/images/M/MV5BYmVjND...,Kal Ho Naa Ho,2003,U,186,"Comedy, Drama, Musical",8.0,"Naina, an introverted, perpetually depressed g...",54.0,Nikkhil Advani,Preity Zinta,Shah Rukh Khan,Saif Ali Khan,Jaya Bachchan,63460,"1,787,378"
383,https://m.media-amazon.com/images/M/MV5BZjk3YT...,Magnolia,1999,R,188,Drama,8.0,An epic mosaic of interrelated characters in s...,77.0,Paul Thomas Anderson,Tom Cruise,Jason Robards,Julianne Moore,Philip Seymour Hoffman,289742,"22,455,976"
397,https://m.media-amazon.com/images/M/MV5BNzZmMj...,Bound by Honor,1993,R,180,"Crime, Drama",8.0,Based on the true life experiences of poet Jim...,47.0,Taylor Hackford,Damian Chapa,Jesse Borrego,Benjamin Bratt,Enrique Castillo,28825,"4,496,583"
400,https://m.media-amazon.com/images/M/MV5BYjYyOD...,JFK,1991,UA,189,"Drama, History, Thriller",8.0,New Orleans District Attorney Jim Garrison dis...,72.0,Oliver Stone,Kevin Costner,Gary Oldman,Jack Lemmon,Walter Matthau,142110,"70,405,498"
402,https://m.media-amazon.com/images/M/MV5BMTY3OT...,Dances with Wolves,1990,U,181,"Adventure, Drama, Western",8.0,"Lieutenant John Dunbar, assigned to a remote w...",72.0,Kevin Costner,Kevin Costner,Mary McDonnell,Graham Greene,Rodney A. Grant,240266,"184,208,848"
411,https://m.media-amazon.com/images/M/MV5BMzJiZD...,Gandhi,1982,U,191,"Biography, Drama, History",8.0,The life of the lawyer who became the famed le...,79.0,Richard Attenborough,Ben Kingsley,John Gielgud,Rohini Hattangadi,Roshan Seth,217664,"52,767,889"
422,https://m.media-amazon.com/images/M/MV5BMWMxND...,Fiddler on the Roof,1971,G,181,"Drama, Family, Musical",8.0,"In prerevolutionary Russia, a Jewish peasant c...",67.0,Norman Jewison,Topol,Norma Crane,Leonard Frey,Molly Picon,39491,"80,500,000"
430,https://m.media-amazon.com/images/M/MV5BNzdmZT...,Doctor Zhivago,1965,A,197,"Drama, Romance, War",8.0,"The life of a Russian physician and poet who, ...",69.0,David Lean,Omar Sharif,Julie Christie,Geraldine Chaplin,Rod Steiger,69903,"111,722,000"

In [ ]:
filt5.value_counts()

False    693
True      21
dtype: int64

In [ ]:
len(df4[filt5])

21